/*
 Theme Name:   CDC Baby Friendly
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Child theme of the "Function" Theme from woothemes - http://www.woothemes.com/products/function/?attribute_pa_theme-type=standard
 Author:       Abt CTC - tech.abtassociates.com
 Author URI:   http://example.com
 Template:     function
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/

/*General Body Edits*/

/*Background image*/

/* body {
	background-image: url('images/backimage1_BW.jpg');

} */

#header {
	padding-top: 0em !important;
}

#header #logo {
	display: none;
	float: none;
	margin-bottom: 1.244em;
	margin-top: .53em;
	margin-left: -20px;	
}

#header #logo img {
	margin-left: -17px !important;
	margin-top: -7px !important;
}

/*Re-layout of header and nav*/

#header .search_main {
	display: none;
}

@media (min-width: 768px) {
	#header #logo img {
		margin: 0;
		display: inline;
		position: absolute;
	}
	
	#navigation {
		/*margin-left: 237px;*/
		margin-top: 25px;
		/*width: 794px;
		height: 45px !important; */
		border-radius: 0em !important;
	}

	#top {
		background-color: #0487b3 !important;
		margin-left: 237px;
		margin-top: 52px;
		width: 794px;
		border-radius: 0em !important;
	}

	 /* #main-nav > li > a {
		margin-top: 0px !important;
	}
	 */

	 #logos {
	 	height: 6em;
	 }

	 #empower1-logo {
	 	float: left;
	 }

	 #empower2-logo {
	 	float: right;
	 	height: 95px;
	 }

	 #empower-logo {
	 	margin-top: -30px;
	 }

	 .fa-emp {
	 	color: #0487b3;
	 	margin-right: 0.8em;
	 }

	 .fa-emp-tr {
	 	color: #A2C93B;
	 	margin-right: 0.8em;
	 }

	 .ul-emp {
	 	margin-left: 2em !important;
	 	list-style-type: none;
	 }

	 .ul-emp li {
	 	margin-bottom: .327em;
	 }

	 img {
	 	padding: 0 !important;
    	border: 0 !important;
	 }
	
}
/*Home Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Nav Bar*/

@media (min-width: 768px) {
/*Remove border, border radius, and adjust padding so all menu items fit*/

#navigation ul.nav > li:first-child a {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

#navigation ul.nav > li a {
	border-width: 0px 0px 0px 0px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	padding: 10px 21px !important;
	text-shadow: none !important;
}

/*Nav Bar Default color*/

#navigation {
	background: #0487b3 !important;
	border: none !important;
}

/*Hover Styling*/

#navigation ul.nav > li:hover,
#navigation ul.nav > li a:hover {
	background: #79aed6 !important;
}

/* #navigation ul.nav > li:active,
#navigation ul.nav > li a:active {
	background: #d87405 !important;
}  */

/*Adjust Current Page Item s.t. Highlighting covers the whole item*/

#navigation ul.nav > li.current-menu-ancestor > a,
#navigation ul.nav > li.current-menu-item a {
	margin-top: 0px !important;
	background-image: none !important;
	background: #d87405 !important;
}

/* #menu-item-183 a,
#menu-item-164 a,
#menu-item-130 a,
#menu-item-162 a,
#menu-item-171 a {
	background-color: black !important;

} */

/* li#menu-item-124 > a:active {
	margin-top: 0px !important;
	background-image: none !important;
	background: #d87405 !important;
} */


/* li#menu-item-183 > a:active,
li#menu-item-164 > a:active,
li#menu-item-130 > a:active,
li#menu-item-162 > a:active,
li#menu-item-171 > a:active {
	margin-top: 0px !important;
	background-image: none !important;
	background: #d87405 !important;
}

 */

#navigation ul.nav > li.current-menu-item ul li a {
	background: #0487b3 !important;
}

/*Preserve gap between menu and nav*/

#navigation ul.nav > li.current_page_item > a:hover {
	border: none !important;

}

/*Highlight Transition*/
#navigation a {
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	 -o-transition: all .25s ease;
		transition: all .25s ease;
}

/*Sub Menu Dropdowns*/

/*custom animation courtesy of 
http://cssdeck.com/labs/pure-css3-smooth-drop-down-menu
*/

	ul.sub-menu {
		margin-left: -1px !important;
		background: #0487b3 !important;
		width: 205px !important;
		border-bottom-left-radius: 0em !important;
		border-bottom-right-radius: 0em !important;
		opacity: 0 !important;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
			-ms-transition: all .25s ease;
			 -o-transition: all .25s ease;
				transition: all .25s ease;

	}

	ul.sub-menu li.current-menu-item a {
		background: #0487b3 !important;
	}

	#main-nav > li:hover ul  {
		opacity: 1 !important;
		top: 50px !important;
		visibility: visible !important;
	}

	ul.sub-menu li a {
		background: #0487b3 !important;
		border-bottom-right-radius: 0em !important;
		margin-left: 0px !important;

	}
}

/*Hide linked menu item*/
#menu-item-171 > a:nth-child(1) {
	display: none !important;
}

/*Slider Styling*/

#featured-slider {
	margin-bottom: 0.5em !important;
}

/*Slider caption*/

/*Let's position the caption */
@media (min-width: 768px) {
	#featured-slider .slide-content {
		margin-left: 16px !important;
		margin-bottom: -69px !important;
	}
}

/*And get rid of the borders, they're tacky*/
#featured-slider .slide-media {
	border: none !important;
	margin-top: 24px !important;
}

/*And hide the sub-caption, but make that text white anyway (case we want it back)*/
#featured-slider .slide-content footer a {
	color: white !important;
}

#featured-slider .slide-content footer {
	display: none !important; 
}

#featured-slider .slide-content header, #featured-slider .slide-content footer {
	display: none !important; /*Slider caption hidden for now*/
	background: rgba(216, 116, 5, 1) !important;
	opacity: 0.9 !important;
	padding: .618em .857em !important;
	color: white !important;
}

@media (max-width: 768px) {
	#featured-slider .slide-content .slide-content-inner {
		border: none !important;
	}
}
#featured-slider .slide-content footer a {
	color: white !important;
}

/*Slider nav*/
/* .flex-direction-nav a {
	background: url('images/bg_direction_nav2.png') no-repeat 0 0 !important;
} */


/*Home Page Body~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Home Page Text*/


/*classes defined in "text" widget in the Homepage widgets area*/

.btext {
	/* color: #0487b3; */
}

.otext {
	/* color: #d87405; */

}

.hphead {
	text-align: center;
	font-size: 36px;
	color:#79aed6;
	margin-bottom: -0.3em;
}

.hpsubhead {
	color: #d87405 !important;
	margin-top: 22px !important;
}

h4.head4 {
	color: #0487b3;
	font-size: 18px !important;
	font-weight: bold;
}

.checklist {
	list-style-image: url(wp-content/uploads/2015/08/check.v2.png) !important;
}

.checklist li {
	margin-left: 24px !important;
	list-style-image: url(wp-content/uploads/2015/08/check.v2.png) !important;
}

#minfo {
	text-align: center;
	margin-top: 20px;
}




/*Features*/


/*Features Title*/
.widget {
	border: none;
}

.widget h3 {
	color: #0487b3;
	font-size: 1.6em;
	margin: 0 0 .857em;
}

/*Image styling*/
#woothemes_features-3 > div img {
	border: none !important;
	width: 120px !important;
}

#woothemes_features-3 > div {
	text-align: center;

}
/*Adjust features for two item view*/

#content .widget_woothemes_features .columns-3 .feature {
width: 45.75%;
}

@media (max-width: 768px) {
	#content .widget_woothemes_features .columns-3 .feature {
		width: 100%;
	}
}
	
#woothemes_features-3 > div > div.feature.last > a > img {
	height: 120px;
	width: auto !important;
}

/*Post pages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*Hide sidebar*/
.post-meta {
	display: none;
}

/*Align title*/
.post header h1, .type-page header h1,
.search .type-page header h1 {
	width: 98.5% !important;
}

/*Align image left*/
#main > article > a > img {
	float: left;
	border: none !important;
	width: auto !important;
}


.article-inner p {
	padding-top: 2px !important;
}


/*Wrap and align post text*/

#main > article > a > img {
	padding-right: 20px !important;

}

@media (max-width: 768px) {
	#main > article > a > img {
		padding-right: 10px !important;
		border: none !important;
	}
}

.article-inner {
	float: none !important;
}


@media (min-width: 768px) {
	.article-inner {
		width: 98.5% !important;
	}
}

/*Hide post tags*/
p.tags {
	display: none;
}

/*General Page Attributes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.pageheader {
	color: #d87405 !important;
	margin-top: 22px !important;
	font-size: 1.8em !important;
}

.pagesubheader {
	color: #0487b3 !important;
	margin-top: 18px !important;
}

/*Apply Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main > article > header > h1 {
	display: none !important;
}


#applybutton {
	text-align: center;
	background-color: #d87405;
	width: 116px;
	padding: 10px;
	color: white !important;
	margin-left: 40%;
	text-decoration: none;
}

#applybutton a {
	color: white !important;
	text-decoration: none !important;

}

section.entry {
	/*margin-left: 30px;*/
	margin-top: 12px;
}


/*Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Stuff we don't like*/
#footer {
	border: none !important;
}

#footer-wrapper {
	background-color: #0487b3 !important;
}

#credit,#copyright {
	display: none !important;
}

/*Stuff we like*/
#footerlogo {
	width: 62px;
	margin-left: -38px;
	margin-top: -14px;
	display: inline;
}

#footertext, #footertext p {
	display: inline;
	color: white;
}

#footertext {
	position: relative;
	bottom: 18px;
	left: 10px;
}



#navigation ul.nav > li:last-child a {

box-shadow: none !important;
-webkit-box-shadow: none !important;

}

#navigation ul.nav > li a {
box-shadow: none !important;
-webkit-box-shadow: none !important;
}

/*~~~~~~~Hospitals Table~~~~~~~~~~~~~*/

table#htable {
    table-layout: fixed;
    color: #000;
    border: none;
}

h4#tableheader {
    margin-top: -40px;
    margin-left: 8px;
}

table#htable td{
	padding:0px 0px 0px 7px;
}

.denote-hospital{
    color: #d87405;
}