div#map {
	height: 500px;
	width: 890px;
	margin: 0 auto;

}

div.leaflet-popup-content-wrapper {
	border-radius: 0px;
}


div.leaflet-popup-content {
	text-align: center;
}

div.leaflet-popup-content h2 {
	color: #D87405;
}

div.leaflet-popup-content p {
	color: #0487b3;
	font-size: 14px;
	margin-top: -10px;
}

a#poplink {
	color: #D87405;
	text-decoration: none;
	font-weight: bold;
	margin-top: 5px;
	/*For fade transition*/
	opacity: 1;
   transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

a#poplink:hover {
	color: #7daed6;
	/*For fade transition*/

}